

/* Fonts for Navbar */
#navbarfonts li {
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: 14pt;
}

#breaklogo {
    padding-right:0px;
    width: 200px;
}
/* Fonts for Navbar */

/* Used for scrolling on the webpage */
html {
    scroll-behavior: smooth;
}

/* Section divider */
hr {
    border:none;
    height: 20px;
    width: 90%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 10px 10px -10px rgb(54, 52, 52);
    margin: -50px auto 10px; 
}

hr.signup {
    width: 100%;
    box-shadow: 0 5x 5px -5px rgb(54, 52, 52);
}
/* Section divider */

/* Start of Dark Mode CSS */
/* Body CSS */
.lightswitch{
    background: #fff;
    color: black;
}

.darkswitch{
    /* background: #292b2c; */
    background: #000000;
    color: #fff;
}

.notasdarkswitch{
    background: #292b2c;
    color: #fff;
}

#lightimage{
    /* src: local("static/images/switch.png"); */
    width: 20px;
}

#formation{
    font-size: medium;
    text-align: center;   
}

/* Body CSS */


/* End of Dark Mode CSS */


.jesus {
    max-height: 960px;
}

/* Style for Header Texts (e.g. Titles, etc.) */
span.headertext{
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: xx-large;
}

.inputs {
    width: 50px;
}

/* USED TO LEAVE SPACE FOR MOVING BETWEEN SECTIONS BEGIN */
section:before {
    height: 45px;
    content: "";
    display:block;
}

section:after {
    height: 25px;
    content: "";
    display: block;
}
/* USED TO LEAVE SPACE FOR MOVING BETWEEN SECTIONS END */

/* Kipsy's ugly footer ;) */
footer {
    font-family: 'Helvetica Neue', 'sans-serif';
    text-align: center;
    font-size: 12pt;
    font-style: italic; 
    padding-right: 150px; 
    padding-left: 150px;
}

#breaklogo2 {
    width: 200px;
}

#mission{
    /* font-family: 'Source Sans Pro', 'sans-serif'; */
    font-size: 50px;
    outline-color: black;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 8% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }

  /* Announcement Banner */
  #banner {
      margin-top: 2px;
      margin-bottom: 2px;
      padding-top: 10px;
      padding-bottom: 1px;
      background-color: #fefefe;
  }

  #announcetitle {
      margin: 0px;
      text-align: center;
      font-size: medium;
      font-weight: bold;
      text-decoration-line: underline;
      text-align: center;
      font-family: 'Source Sans Pro', 'sans-serif';
      font-size: medium;
  }
  
  #announcetext {
    text-align: center;
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: medium;
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .top-left {
    position: absolute;
    top: 15%;
    left: 35%;
    transform: translate(0%, -50%);
    padding-left: 25px;
    z-index: 1;
  }

  textarea {
      width: 90%;
  }

  .smallertext{
      font-size: smaller;
  }
  

@media screen and (max-width: 1000px) {

    #breaklogo {
        padding:0px;
        width: 200px;
    }

    #lightimage {
        padding: 0px;
        width: 20px;
    }

    span.headertext {
        font-size: x-large;
    }

    p.applytext{
        font-family: 'Source Sans Pro', 'sans-serif';
        font-size: medium;
    }

    p.abouttext {
        font-size: small;
    }

    p.servicestext {
        font-size: medium;
    }

    #flocksign {
        font-size: medium;
        text-align: center;
    }
    
    form {
        text-align: center;
    }

    input {
        width: 50%;
    }

    button.submit {
        width: 50%;
    }

    #mission{
        font-size: x-large;
    } 

    footer{
        padding-left: 5px;
        padding-right: 5px;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 2; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        /* overflow: auto; Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

    .modal-content {
        background-color: #fefefe;
        margin: 22% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 100%; /* Could be more or less, depending on screen size */
    }

    .top-left {
        position: absolute;
        top: 10%;
        left: 23%;
        transform: translate(0%, -50%);
        padding-left: 25px;
        z-index: 1;
        }

    .media{

    width: 300px;

    }

    #breaklogo2 {
        width: 200px;
    }

    
}
    

@media screen and (max-width: 600px) {

#mission{
    font-size: large;
} 

span.headertext {
    font-size: x-large;
}

p.applytext{
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: medium;
}

p{
    font-size: small;
}

footer{
    padding-left: 5px;
    padding-right: 5px;
}

#flocksign {
    font-size: medium;
    text-align: center;
}

form {
    text-align: center;
}

#formation{
    font-size: medium;
    text-align: center;   
}

input {
    width: 50%;
}

button.submit {
    width: 50%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

.modal-content {
    background-color: #fefefe;
    margin: 22% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}

.top-left {
    position: absolute;
    top: 10%;
    left: 23%;
    transform: translate(0%, -50%);
    padding-left: 25px;
    z-index: 1;
  }

  .media{

    width: 300px;

  }

  /* Style for Header Texts (e.g. Titles, etc.) */
  .headertext{
        font-family: 'Source Sans Pro', 'sans-serif';
        font-size: small;
  }

  #breaklogo2 {
    width: 200px;
  }
}

@media screen and (max-width: 350px) {

    /* Section divider */
    hr.other {
        width: 100%;
        box-shadow: 0 5x 5px -5px rgb(54, 52, 52);
        }

    .headertext {
        font-size: x-large;
    }

    p.applytext{
        font-family: 'Source Sans Pro', 'sans-serif';
        font-size: medium;
  }

    p{
        font-size: small;
    }

    li {
        font-size: small;
    }

    #mission{
        font-size: large;
    } 
    
    #breaklogo {
        padding-right:0px;
        width: 165px;
    }

    #lightimage {
        padding: 0px;
        width: 15px;
    }

    #flocksign {
        font-size: medium;
        text-align: center;
    }

    form {
        text-align: center;
    }

    input {
        width: 50%;
    }

    button.submit {
        width: 50%;
    }

    footer{
        padding-left: 5px;
        padding-right: 5px;
    }

    #breaklogo2 {
        width: 200px;
    }
    
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 2; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        /* overflow: auto; Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
    
    .modal-content {
        background-color: #fefefe;
        margin: 22% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 100%; /* Could be more or less, depending on screen size */
    }
    
    .top-left {
        position: absolute;
        top: 10%;
        left: 23%;
        transform: translate(0%, -50%);
        padding-left: 25px;
        z-index: 1;
      }
    
      .media{
        width: 300px;
      };
      
      
    }
    