

/* Fonts for Navbar */
#navbarfonts li {
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: 14pt;
}
/* Fonts for Navbar */

/* Used for scrolling on the webpage */
html {
    scroll-behavior: smooth;
}

/* Style for section divider */
hr {
    border:none;
    height: 20px;
    width: 90%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 10px 10px -10px rgb(54, 52, 52);
    margin: -50px auto 10px; 
}

/* Start of image grid style */
* {
    box-sizing: border-box
}

.column {
    float: left;
    width: 25%;
    padding: 35px;
}

.column img {
    margin-top: 12px
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
/* End of image grid style */

.headertext{
    font-family: 'Source Sans Pro', 'sans-serif';
    font-size: xx-large;
}

section:before {
    height: 45px;
    content: "";
    display:block;
}

section:after {
    height: 25px;
    content: "";
    display: block;
}
